* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #000;
    color: white;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: rgba(128, 0, 0, 0.771);
}

.logo {
    margin: auto;
    position: relative;
}

nav ul li {
    display: inline-flex;
    justify-content: space-between;
    margin: 20px 7px;
    padding: 5px 25px;
    border: 1px solid white;
    position: relative;
    right: 2em;
}
nav ul li:hover {
    background-color: silver;
}